@media print,
(max-width: 1023px)
{
    /*-------------------
        Global styles
    -------------------*/
    :root
    {
        --font_size_title: 44px;
    }



    /*----------
        Tabs
    ----------*/
    .tabs
    {
        margin-left: -24px;
    }


    .tabs .btn
    {
        margin-left: 24px;
    }



    /*------------
        Header
    ------------*/
    header
    {
        position: fixed;
        z-index: 101;
        top: 0;
        right: 100%;
        left: auto;

        width: 280px;
        height: 100%;
        min-height: -moz-available;
        min-height: -webkit-fill-available;
        min-height:         fill-available;
        margin: 0;
        padding: 0;

        transition: transform .3s linear;

        border-radius: 0 30px 0 0;
        background: #308a90;
        box-shadow: 0 4px 4px 0 rgba(0, 0, 0, .50);
    }

    header.show
    {
        transform: translateX(100%);
    }


    header .scroll
    {
        display: flex;
        overflow: auto;
        flex-direction: column;

        height: 100%;
        min-height: -moz-available;
        min-height: -webkit-fill-available;
        min-height:         fill-available;
        padding: 104px 0;

        overscroll-behavior-y: contain;
    }


    header .cont
    {
        display: block;
    }


    header .logo
    {
        display: none;
    }


    header .menu
    {
        display: block;

        width: 100%;
        padding: 0;

        color: #fff;
    }


    header .menu_item + .menu_item
    {
        margin-top: 40px;
        margin-left: 0;
    }


    header .messengers
    {
        justify-content: center;

        width: 100%;
        margin-top: 95px;
    }


    header .messengers .icon
    {
        width: 38px;
        height: 38px;

        background: #fff;
    }


    header .feedback_btn
    {
        display: block;

        margin: 30px auto 0;
    }



    /*-----------------
        Mob. header
    -----------------*/
    .mob_header
    {
        display: block;
    }



    /*---------------
        Page head
    ---------------*/
    .page_head
    {
        min-height: 200px;
        padding: 24px 0;
    }


    .page_title
    {
        margin-top: 0;
        margin-bottom: 16px;
    }


    .page_title.small
    {
        font-size: 36px;
        font-weight: 700;

        margin-top: 16px;
        margin-bottom: 16px;
    }


    .page_title br
    {
        display: none;
    }


    .page_head .dotted
    {
        width: 300px;
    }


    .page_head .img
    {
        left: -166px;
    }



    .page_head:not(.mob_center)
    {
        align-content: flex-end;
        align-items: flex-end;

        text-align: right;
    }


    .page_head:not(.mob_center) .dotted
    {
        margin-right: 0;
    }



    /*------------------
        Form elements
    ------------------*/
    .form .columns
    {
        --form_columns_offset: 20px;
    }



    /*----------------
        Typography
    ----------------*/
    .text_block
    {
        font-size: 14px;
        line-height: 20px;
    }


    .text_block > *
    {
        margin-bottom: 20px;
    }


    .text_block h2
    {
        font-size: 26px;

        margin-bottom: 48px;
    }


    .text_block * + h2
    {
        margin-top: 48px;
    }


    .text_block h3
    {
        font-size: 20px;

        margin-bottom: 20px !important;
    }


    .text_block ul li
    {
        font-size: 14px;
        line-height: 20px;

        padding-left: 48px;
    }


    .text_block ul li:before
    {
        top: 5px;
        left: 0;
    }


    .text_block ul li + li
    {
        margin-top: 20px;
    }


    .text_block ol li
    {
        padding-left: 48px;
    }


    .text_block ol li + li
    {
        margin-top: 20px;
    }



    /*-------------------
        First section
    -------------------*/
    .first_section
    {
        padding-top: 120px;
        padding-bottom: 100px;
    }


    .first_section .author
    {
        order: 2;

        margin: 40px auto 0;
        padding: 0;
    }


    .first_section .data
    {
        width: 100%;

        text-align: center;
    }


    .first_section .data:before
    {
        margin-bottom: 12px;
    }


    .first_section .data:after
    {
        top: 100px;
    }


    .first_section .title small
    {
        font-size: 26px;

        margin-left: 0;
    }


    .first_section .title small:after
    {
        left: 50%;

        width: 440px;
        height: 20px;

        transform: translateX(-50%);
    }


    .first_section .withuot
    {
        justify-content: center;

        margin-top: 60px;
        margin-left: 0;

        text-align: left;
    }


    .first_section .author .desc
    {
        width: 100%;
        margin: 0;

        text-align: center;
    }


    .first_section .author::before
    {
        right: 20px;
        bottom: 30px;
        left: auto;

        width: 180px;
        height: calc(100% - 80px);
    }



    /*-------------
        Welcome
    -------------*/
    .welcome
    {
        padding: 70px 0 420px;
    }


    .welcome .title .dotted
    {
        width: 320px;
    }


    .welcome .text
    {
        width: calc(100% - 20px);
        margin-top: 48px;
        padding: 24px 28px;
    }


    .welcome .image
    {
        right: 0;
        left: 0;

        width: 308px;
        margin: 0 auto;
    }


    .welcome .image:before
    {
        right: -24px;
        bottom: 0;

        width: 140px;
        height: 360px;
    }


    .welcome .image:after
    {
        top: auto;
        right: 0;
        bottom: 40px;
        left: 0;

        margin: 0 auto;
    }



    /*---------------
        My method
    ---------------*/
    .my_method .block_title
    {
        margin-bottom: 50px;
    }


    .my_method .block_title .dotted
    {
        width: 280px;
    }


    .my_method .item .name
    {
        font-size: 22px;
    }


    .my_method .start
    {
        margin-top: 48px;
    }


    .my_method .start a
    {
        font-size: 26px;
        font-weight: 700;

        width: 360px;
        height: 66px;
    }



    /*--------------
        About me
    --------------*/
    .about_me .block_title
    {
        margin-bottom: 540px;
    }


    .about_me .block_title small
    {
        font-size: 26px;
    }


    .about_me .data
    {
        padding-top: 48px;
    }


    .about_me .data:before
    {
        height: calc(100% + 44px);
    }


    .about_me .data .info
    {
        width: calc(100% - 30px);
        margin-right: 20px;
        padding: 24px 32px;
    }


    .about_me .data .items > *
    {
        padding-left: 40px;
    }


    .about_me .data .items > *:before
    {
        top: 4px;
    }


    .about_me .data .image
    {
        top: auto;
        right: 0;
        bottom: 100%;
        left: 0;

        width: 300px;
        margin: 0 auto;
    }


    .about_me .data .image:after
    {
        top: auto;
        right: 0;
        bottom: -28px;
        left: 0;

        margin: 0 auto;
    }


    .about_me .data .image:before
    {
        right: auto;
        bottom: 0;
        left: -32px;
    }



    .about_me .stats .row > *
    {
        width: calc(50% - 48px);
    }



    /*-------------------------
        Scientific activity
    -------------------------*/
    .scientific_activity .block_title
    {
        margin-bottom: 40px;
    }


    .scientific_activity .section + .section
    {
        margin-top: 40px;
    }


    .scientific_activity .data
    {
        width: calc(100% - 340px);
        margin-bottom: 50px;
    }


    .scientific_activity .text_block
    {
        font-size: 12px;
    }


    .scientific_activity .image
    {
        width: 324px;
        padding-right: 24px;
        padding-left: 40px;
    }


    .scientific_activity .data + .image
    {
        padding-right: 40px;
        padding-left: 24px;
    }


    .scientific_activity .image:after
    {
        width: 68px;
    }



    /*------------
        Awards
    ------------*/
    .awards:before
    {
        height: calc(100% - 92px);
    }


    .awards .data
    {
        width: calc(100% - 30px);
        padding: 24px 32px;
        padding-left: 40px;
    }


    .awards .block_title
    {
        margin-bottom: 522px;
    }


    .awards .image
    {
        top: 140px;
        right: 0;
        bottom: 100%;
        left: 0;

        height: 521px;
        margin: 0 auto;
    }


    .awards .image:before
    {
        bottom: 32px;

        width: 160px;
        max-width: 100%;
        height: 428px;
    }


    .awards .link a
    {
        font-size: 26px;
        font-weight: 700;

        width: 360px;
        height: 66px;
    }



    /*-----------
        Stars
    -----------*/
    .stars .head .title
    {
        font-size: 108px;
    }


    .stars .head .img
    {
        top: -80px;
        right: 48px;
    }


    .stars .head .img img
    {
        width: 140px;
    }


    .stars .head .img:after
    {
        right: -60px;
        bottom: 68px;

        transform: scale(.8);
    }


    .stars .head:after
    {
        width: 120px;
        height: 360px;
    }


    .stars .row
    {
        margin-top: 60px;
        margin-bottom: -24px;
        margin-left: -24px;
    }


    .stars .row > *
    {
        width: calc(33.333% - 24px);
        margin-bottom: 24px;
        margin-left: 24px;
    }



    /*---------------
        My system
    ---------------*/
    .my_system .before,
    .my_system .after
    {
        width: 280px;
        margin: 0 auto 0;
    }



    .my_system .info
    {
        width: 100%;
        padding: 40px;
    }



    /*-------------------
        Contacts info
    -------------------*/
    .contacts_info .title
    {
        margin-bottom: 16px;
    }


    .contacts_info .socials
    {
        margin-top: 24px;
    }


    .contacts_info .map
    {
        height: 440px;
    }



    /*-------------
        Courses
    -------------*/
    .courses .row
    {
        margin-left: -24px;
    }


    .courses .row > *
    {
        width: calc(50% - 24px);
        margin-left: 24px;
    }


    .courses .course .info
    {
        padding: 24px 48px 28px 28px;
    }


    .courses .course .name
    {
        font-size: 22px;
    }


    .courses .course .name a
    {
        width: calc(100% + 36px);
        margin-left: -36px;
        padding: 8px 20px 6px 36px;
    }


    .courses .course .desc
    {
        margin-top: 28px;
        margin-bottom: 36px;
    }


    .courses .start a
    {
        font-size: 32px;
        font-weight: 700;

        width: 360px;
        height: 66px;
    }



    /*-----------------
        Course info
    -----------------*/
    .course_info .about .title .sep + *
    {
        margin-top: 4px;
    }


    /*-------------------
        What stopping
    -------------------*/
    .what_stopping .title
    {
        font-size: 26px;

        margin-bottom: 40px;
    }


    .what_stopping ul li
    {
        font-size: 14px;
        line-height: 20px;

        padding-left: 48px;
    }


    .what_stopping ul li:before
    {
        top: 5px;
        left: 0;
    }


    .what_stopping .start a
    {
        font-size: 26px;
        font-weight: 700;

        width: 360px;
        height: 66px;
    }



    /*--------------
        Articles
    --------------*/
    .articles .article .icons > *
    {
        width: 42px;
        height: 42px;
    }


    .articles .article .thumb
    {
        width: calc(100% + 48px);
        height: auto;
        margin-right: -24px;
        margin-bottom: 24px;
        margin-left: -24px;
        padding-bottom: 66.666%;
    }


    .articles .article .data
    {
        width: 100%;
        padding-top: 0;
    }


    .articles .article .name
    {
        font-size: 22px;

        width: 100%;
        margin-left: 0;
        padding: 0;

        text-align: center;

        background: none;
    }


    .articles .article .name .dotted
    {
        display: none;
    }


    .articles .article .desc
    {
        min-height: 0;
        margin-top: 20px;
    }



    .articles .bottom
    {
        display: none;
    }



    /*----------------
        About info
    ----------------*/
    .about_info .image
    {
        margin-bottom: 50px;
    }

    .about_info * + .image
    {
        margin-top: 50px;
    }



    /*--------------------------
        I did it and you can
    --------------------------*/
    .i_did_you_can .title
    {
        font-size: 26px;

        margin-bottom: 40px;
    }


    .i_did_you_can .title:before
    {
        margin-right: 180px;
    }

    .i_did_you_can .title:after
    {
        margin-left: 180px;
    }



    /*-----------
        Quote
    -----------*/
    .quote
    {
        padding: 100px 0 60px;
    }



    /*------------------
        About author
    ------------------*/
    .about_author
    {
        padding: 120px 0 48px;
    }


    .about_author:before
    {
        top: 33px;
        right: 0;

        width: 100px;
        height: calc(100% - 113px);
        margin: 0;
    }


    .about_author .data
    {
        width: calc(100% - 40px);
        margin-right: 20px;
        margin-left: 20px;
        padding: 28px;
    }


    .about_author .data:after
    {
        display: none;
    }


    .about_author .text
    {
        min-height: 0;
    }


    .about_author .text:before
    {
        top: -108px;
        right: auto;
        left: -40px;

        margin-right: 0;
    }


    .about_author .dotted
    {
        width: 300px;
        margin-top: 24px;
    }



    /*------------------
        Article info
    ------------------*/
    .article_info .head
    {
        margin-bottom: 70px;
    }


    .article_info .article_title
    {
        margin-bottom: 48px;
    }


    .article_info .article_title .sep + *
    {
        margin-top: 4px;
    }



    /*----------------------
        Personal reviews
    ----------------------*/
    .personal_reviews .list > * + *
    {
        margin-top: 48px;
    }



    /*-----------
        Guide
    -----------*/
    .guide
    {
        position: relative;
    }


    .guide .image
    {
        width: 100%;
        height: 528px;
    }


    .guide .data
    {
        position: absolute;
        right: 0;
        bottom: 40px;
        left: 0;

        width: calc(100% - 128px);
        margin: 0 auto;
        padding: 30px;
    }


    .guide .title
    {
        font-size: 30px;
    }



    /*----------------------
        Related articles
    ----------------------*/
    .related_articles .row > *
    {
        width: calc(50% - 24px);
    }

    .related_articles .row > *:nth-child(3)
    {
        display: none;
    }



    /*--------------
        Comments
    --------------*/
    .comments .list .title
    {
        margin-bottom: 24px;
    }


    .comments .comment + .comment
    {
        margin-top: 24px;
    }


    .comments .comment.children
    {
        margin-left: 80px;
    }


    .comments .comment .photo + *
    {
        width: calc(100% - 136px);
    }



    /*-------------
        Reviews
    -------------*/
    .reviews .title
    {
        margin-bottom: 48px;
    }


    .reviews .title .dotted
    {
        width: 240px;
    }


    .reviews .title .sep + *
    {
        margin-top: 12px;
    }



    .reviews .videos .row > *
    {
        width: calc(50% - 24px);
    }


    .reviews .videos .video
    {
        padding: 48px 40px 64px;
    }


    .reviews .videos .video .before .desc,
    .reviews .videos .video .after .desc
    {
        min-height: 0;
    }


    .reviews .videos .video .after
    {
        margin-top: 40px;
    }


    .reviews .videos .video .link
    {
        width: 240px;
    }



    /*---------------
        Portfolio
    ---------------*/
    .portfolio .title .dotted
    {
        width: 240px;
    }


    .portfolio .title .sep + *
    {
        margin-top: 16px;
    }



    .portfolio .gallery .row.big
    {
        margin-bottom: -48px;
        margin-left: -48px;
    }


    .portfolio .gallery .row > *,
    .portfolio .gallery .row.big > *
    {
        width: calc(50% - 48px);
        margin-bottom: 48px;
        margin-left: 48px;
    }


    .portfolio .gallery .back
    {
        padding: 28px 48px;
    }


    .portfolio .gallery .item:nth-child(3n+1):hover .back
    {
        right: -58px;
        left: auto;

        transform: translateX(-100%);
    }


    .portfolio .gallery .item:nth-child(2n+1):hover .back
    {
        right: auto;
        left: -58px;

        transform: translateX(100%);
    }



    .portfolio .items .row > *
    {
        width: calc(50% - 24px);
    }


    .portfolio .items .item
    {
        padding: 22px 38px 26px;
    }



    /*------------
        Footer
    ------------*/
    footer .logo
    {
        margin-right: 0;
    }


    footer .menu
    {
        margin-right: 0;
        margin-left: auto;
        padding: 0;
    }


    footer .socials .title
    {
        font-size: 16px;
    }


    footer .socials .items a + a
    {
        margin-left: 24px;
    }


    footer .socials .items .icon
    {
        width: 40px;
        height: 40px;
    }
}
